.App-logo {
  height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: white;
}

button {
  font-size: calc(10px + 2vmin);
}
